<div flash-alert active-class="in alert" class="fade">
    <span class="alert-message">{{flash.message}}</span>
    <button type="button" class="close" ng-click="hide()">&times;</button>
</div>

<div ng-show="loading" class="text-center top-buffer">
  <i class="fa fa-spinner fa-5x fa-spin"></i>
</div>

<div ng-show="!loading">

  <div ng-show="!sounds.length" class="well text-center">
    <h1>No Sounds :-(</h1>
    <p class="small text-muted">Upload functionality is on the to-do list...</p>
  </div>

  <div ng-show="sounds.length">
    <h2>Liste aller Soundboard-Effekte</h2>

    <table class="table table-condensed table-hover table-striped">
      <col style="width:80%">
      <col style="width:20%">
      <thead>
        <tr>
          <th></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sound in sounds">
          <td>
            <button class="btn btn-block btn-primary" ng-click="playSound(sound.id)">
              {{sound.name}}
            </button>
          </td>
          <td class="text-right">
            <button class="btn btn-primary" ng-click="editSound(sound.id)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button class="btn btn-danger" ng-bootbox-confirm="Willst du '{{sound.name}}' wirklich l&ouml;schen?" ng-bootbox-confirm-action="deleteSound(sound.id)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-default" ng-click="newSound()">Neuen Sound hochladen</button>

</div>
