<div flash-alert active-class="in alert" class="fade">
    <span class="alert-message">{{flash.message}}</span>
    <button type="button" class="close" ng-click="hide()">&times;</button>
</div>

<div ng-show="loading" class="text-center top-buffer">
  <i class="fa fa-spinner fa-5x fa-spin"></i>
</div>

<div ng-show="!loading">

  <div ng-show="!sounds.length" class="well text-center">
    <h1>No Sounds :-(</h1>
    <p class="small text-muted">Upload functionality is on the to-do list...</p>
  </div>

  <div ng-show="sounds.length">
    <h2>Liste aller Soundboard-Effekte</h2>

    <div class="row">
      <div class="col-md-12">
        <div ng-repeat="sound in sounds" class="soundDisplay" ng-mouseenter="sound.displayActions = true" ng-mouseleave="sound.displayActions = false">
          <div class="soundTitle">{{sound.name}}</div>
          <div class="soundPlay" ng-click="playSound(sound.id)" style="">
            <img src="images/play.png" style="margin-left:35px;margin-top:5px;">
          </div>
          <div class="soundActions" ng-show="sound.displayActions">
            <a href="#/edit/{{sound.id}}" style="float:left;" >Editieren</a>
            <a href="#edit" style="float:right;" ng-bootbox-confirm="Willst du '{{sound.name}}' wirklich l&ouml;schen?" ng-bootbox-confirm-action="deleteSound(sound.id)">Löschen</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bottom-buffer">
    <button class="btn btn-default" ng-click="newSound()">Neuen Sound hochladen</button>
    <button class="btn btn-danger" ng-click="deleteAllSounds()">Alle Sounds l&ouml;schen</button>
  </div>

</div>
