$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$margin: 10px;

body {
  padding: 0;
}

#soundboard-app {
  margin-top: 65px;
}

.row {
  + .row {
    margin-top: $margin;
  }
}

.top-buffer {
  margin-top: $margin;
}

.bottom-buffer {
  margin-bottom: $margin;
}

.soundDisplay {
  width:200px;
  height:200px;
  float:left;
  border: 1px solid silver;
  margin: 10px;
}

.soundTitle {
  height:30px;
  background-color:#F9F9F9;
  text-align:center;padding:5px;
}

.soundActions {
  height:30px;
  background-color:#F9F9F9;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
}

.soundPlay {
  height:138px;
  cursor:pointer;
}
